/**
 * Styling for the footer section.
 */



/**
 * Main BEM block.
 */
.footer
{
	align-items: center;
	background-color: var( --colorsPrimary );
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	text-align: center;

	&__copyrightInfo
	{
		opacity: 0.3;
	}
}
