/**
 * Styling for the footer section.
 */



/**
 * Main BEM block.
 */
.footer
{
	align-items: center;
	background-color: #333;
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-content: center;
	text-align: center;
}
